@model CarRental.Models.Marki

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Marki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMarki }) |
    @Html.ActionLink("Back to List", "Index")
</p>
