@model CarRental.Models.UbezpieczeniaWypozyczenie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UbezpieczeniaWypozyczenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ubezpieczenia.NazwaUbezpieczenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubezpieczenia.NazwaUbezpieczenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wypozyczenia.IDWypozyczenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wypozyczenia.IDWypozyczenia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NrPolisy }) |
    @Html.ActionLink("Back to List", "Index")
</p>
