@model IEnumerable<CarRental.Models.UbezpieczeniaWypozyczenie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ubezpieczenia.NazwaUbezpieczenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wypozyczenia.IDWypozyczenia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ubezpieczenia.NazwaUbezpieczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wypozyczenia.IDWypozyczenia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NrPolisy }) |
            @Html.ActionLink("Details", "Details", new { id = item.NrPolisy }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NrPolisy })
        </td>
    </tr>
}

</table>
