<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sieć wypożycalni samochodów</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Klienci", "Index", "Kliencis")</li>
                    <li>@Html.ActionLink("Samochody", "Index", "Samochodies")</li>
                    <li>@Html.ActionLink("Wypozyczenia", "Index", "Wypozyczenias")</li>
                    <li>@Html.ActionLink("Ubezpieczenia", "Index", "Ubezpieczenias")</li>
                    <li>@Html.ActionLink("UbezpieczeniaWypozyczenia", "Index", "UbezpieczeniaWypozyczenies")</li>
                    <li>@Html.ActionLink("Przeglady", "Index", "Przegladies")</li>
                    <li>@Html.ActionLink("Marki", "Index", "Markis")</li>
                    <li>@Html.ActionLink("Pracownicy", "Index", "Pracownicies")</li>
                    <li>@Html.ActionLink("Wypozyczalnie", "Index", "Wypozyczalnies")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
